
    <!-- Footer -->
<div class="footer">
    <section>
        <footer class="page-footer font-small stylish-color-dark pt-4">
  
          <!-- Footer Links -->
          <div class="container text-center text-md-left">
  
            <!-- Grid row -->
            <div class="row">
  
              <!-- Grid column -->
              <div class="col-md-4 mx-auto">
  
                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Ease For Elderly's</h5>
                <p>Assisting elderly's with the best resources and allowing them to age with grace without ever feeling lonely again.

                    </p>
  
              </div>
              <!-- Grid column -->

  
              <!-- Grid column -->
              <div class="col-md-2 mx-auto">
  
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
  
                <ul class="list-unstyled">
                  <li>
                    <a href="#">Home</a>
                  </li>
                  <li>
                    <a href="/recreational">Recreational</a>
                  </li>
                  <li>
                    <a href="/cityhighlights">City Highlights</a>
                  </li>
                  <li>
                    <a href="/services">Services</a>
                  </li>
                </ul>
  
              </div>
              <!-- Grid column -->
  
             
  

  
            </div>
            <!-- Grid row -->
  
          </div>
          <!-- Footer Links -->
  
  
  
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://ease4e.ml"> Ease4e.ml</a>
          </div>
          <!-- Copyright -->
  
        </footer>
      </section>
</div>
  
      <!-- Footer -->
