
        <!--Section: articles-->
        <section id="articles" class="text-center py-5">

            <!-- Container -->
            <div class="container">

                <!-- Section heading -->
                <h2 class="h1-responsive font-weight-bold mb-5">Our Features</h2>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <!-- Card Narrower -->
                        <div class="card card-cascade narrower">

                            <!-- Card image -->
                            <div class="view view-cascade">
                                <img class="card-img-top" src="../../assets/Images/sport-beach.jpg"
                                    alt="Card image cap">
                                <a>
                                    <div class="mask img-gradient"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body card-body-cascade">

                                <!-- Label -->
                                <h5>Recreational</h5>
                                <!-- Title -->
                                <h4 class="font-weight-bold card-title">Stay Fit Stay Healthy</h4>
                                <!-- Text -->
                                <p class="card-text">Remain healthy and active by doing regular physical activities.
                                    Find and engage in age-friendly sports near you </p>
                                <!-- Button -->
                                <a href="/recreational" class="btn btn-primary">Find out</a>

                            </div>

                        </div>
                        <!-- Card Narrower -->

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                        <!-- Card Narrower -->
                        <div class="card card-cascade narrower">

                            <!-- Card image -->
                            <div class="view view-cascade">
                                <img class="card-img-top" src="../../assets/Images/homepage-image1.jpg"
                                    alt="Card image cap">
                                <a>
                                    <div class="mask img-gradient"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body card-body-cascade">

                                <!-- Label -->
                                <h5>City Highlights</h5>
                                <!-- Title -->
                                <h4 class="font-weight-bold card-title">Mix, Match and Mingle</h4>
                                <!-- Text -->
                                <p class="card-text">Witness Melbourne city like never before. A pint to drink, a play to watch and new people to meet and interact with.
                                    </p>
                                <!-- Button -->
                                <a href="/cityhighlights" class="btn btn-primary">Find out</a>

                            </div>

                        </div>
                        <!-- Card Narrower -->

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                        <!-- Card Narrower -->
                        <div class="card card-cascade narrower">

                            <!-- Card image -->
                            <div class="view view-cascade">
                                <img class="card-img-top" src="../../assets/Images/Homepage-image2.jpg"
                                    alt="Card image cap">
                                <a>
                                    <div class="mask img-gradient"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body card-body-cascade">

                                <!-- Label -->
                                <h5>Services</h5>
                                <!-- Title -->
                                <h4 class="font-weight-bold card-title">Elders are never left alone</h4>
                                <!-- Text -->
                                <p class="card-text"> Victoria offers wide range of services to help elderly in various areas. Explore and make 
                                    use of all services.
                                </p>
                                <!-- Button -->
                                <a href="/services" class="btn btn-primary">Find out</a> 

                            </div>

                        </div>
                        <!-- Card Narrower -->

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </div>
            <!-- Container -->

        </section>
        <!--Section: articles-->