<div>
    <h2 class="align" style="text-align: center;">Elderly Facts</h2>
    <br>
</div>
<div class="container">
    <div class="row">    
        <div class="col-md-4 ">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
<iframe width="560" height="315" source src="../../assets/Homepage/Old Man Walking.mp4" type="video/mp4" frameborder="0" allowfullscreen></iframe>
</div>
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <h5 class="card-title border-bottom pb-3"> Loneliness in elderly<a href="#" class="float-right d-inline-flex share"></a></h5>
                    <p class="card-text">10% of people over 60 in Victoria experience chronic loneliness.
                        Nearly 40% Victorians aged 65 to 85 are willing to participate in social activities.</p>
                    <a onClick="alert('This will jump to other website!!!')" href="https://www.vichealth.vic.gov.au/letter/articles/vh-letter-47-loneliness" class="float-right">Read more <i class="fa fa-arrow-right"></i></a>
                </div><!-- card content -->
                
                
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
<iframe width="560" height="315" source src="../../assets/Homepage/video.mp4" type="video/mp4" frameborder="0" allowfullscreen></iframe>
</div>
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <h5 class="card-title border-bottom pb-3">Active Social Activities <a href="#" class="float-right d-inline-flex share"></a></h5>
                    <p class="card-text">It is never too late to get fit. 
                        The human body responds to exercise, no matter what its age.
                        Regular exercise can keep you fit and stay independent as you age. </p>
                    <a onClick="alert('This will jump to other website!!!')" href="https://www.betterhealth.vic.gov.au/health/HealthyLiving/physical-activity-for-seniors" class="float-right">Read more <i class="fa fa-arrow-right"></i></a>
                </div><!-- card content -->
                
                
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/j6r0vzKQIf4" frameborder="0" allowfullscreen></iframe>
</div>
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <h5 class="card-title border-bottom pb-3">Elderly Services<a href="#" class="float-right d-inline-flex share"></a></h5>
                    <p class="card-text">There are several elderly programs that supports health and wellbeing. 
                        There are many communities and volunteers help older people to engage in activities.</p>
                    <a onClick="alert('This will jump to other website!!!')" href="https://www.wesleymission.org.au" class="float-right">Read more <i class="fa fa-arrow-right"></i></a>                   
                    
                </div><!-- card content -->
                
                
            </div>
        </div>
        
</div>
<br>