<!--<p style = "margin: 10%;"> works</p> -->
<div>
    <img src="../../assets/Images/couple-smiling-at-each-other-1881091-2 copy.png" width =100%>
</div>
<div>
<h2>All Services</h2>
<p>What do elderly people need while they are ageing? They want access to other people,
  easy transportation to bank, store and to other places,
  safe from accidents, hunger, medical problems and crime,
  feel good and live happily.Here are the range of services from Government of Victoria made for elderly people.</p>

<div class="row">
  <div class="column" style="background-color:ghostwhite;">
  <h2>Hospitals and Health Services</h2>
  <p>Victorian health services aimed to meet exceed quality and safety standards to ensure our health sector provides 
    world-class care. To find a list of public hospitals and health services in Victoria are shown here.</p>
    <a class="art" onClick="alert('This will jump to other websites!!!')" href="https://www2.health.vic.gov.au">Find more</a>
   
  </div>
  <div class="column" style="background-color:beige">
  <h2>Ageing</h2>
  <p>Seniors make a valuable contribution to our society
     – many are active workers, helpers, volunteers, parents, grandparents and carers in our community.
     Protecting elderly victorians and promoting ageing services at every age.</p>
     <a class="art" onClick="alert('This will jump to other websites!!!')" href="https://www.dhhs.vic.gov.au/ageing">Find more</a>
  </div>
  <div class="column" style="background-color:white;">
  <h2>Seniors Online</h2>
  <p>Victorian Government Portal for older people, with information about government and community services and programs
    Get updates to Victorian Seniors festivals, news and other services.
  </p>
  <a class="art" onClick="alert('This will jump to other websites!!!')" href="https://www.seniorsonline.vic.gov.au">Find more</a>
  </div>
  <div class="column" style="background-color:ghostwhite;">
  <h2>Housing and Homelessness</h2>
  <p>Ensuring that all victorians are having a safe and secure home creating healthy families.</p>
  <a class="art" onClick="alert('This will jump to other websites!!!')" href="https://www.dhhs.vic.gov.au/housing-and-homelessness">Find more</a>
  </div>
  

</div>
<div class="row">
  <div class="column" style="background-color:beige;">
  <h2>Better Health Channel</h2>
  <p>Health and medical information for all consumers in Victoria assured for high class quality by Victorian Government.
    Get latest health related updates, conditions and treatments, healthy living, services and support.
  </p>
  <a class="art" onClick="alert('This will jump to other websites!!!')" href="https://www.betterhealth.vic.gov.au">Find more</a>
  </div>
  <div class="column" style="background-color:ghostwhite">
  <h2>Concessions & benefits</h2>
  <p>Do you like going to the movies or art galleries? Discounts at many recreational venues are available to eligible concession cardholders.
    Discounts are available to various recreation facilities such as the Zoo, National Gallery of Victoria, State galleries and Museum Victoria. 
  </p>
  <a class="art" onClick="alert('This will jump to other website!!!')" href="https://services.dhhs.vic.gov.au/recreation-facilities">Find more</a>
  </div>
  <div class="column" style="background-color:beige;">
  <h2>Get involved</h2>
  <p>Not-for-profit organisation representing the interests and rights of people aged 50+ in Victoria. 
    For nearly 70 years, we have led government, corporate and community thinking about the positive aspects of ageing. 
  </p>
    <a class="art" onClick="alert('This will jump to other website!!!')" href="https://www.cotavic.org.au">Find more</a> 
  </div>
  <div class="column" style="background-color:white;">
  <h2>Entertainment</h2>
  <p>Never feel bored. Technology is not only made for young people. For the first time in our history, watching your favorite content is as easy as it’s ever been. Sitting down to watch a movie can be as 
    simple as opening Netflix on your phone or even renting the video from a service like Amazon Prime or Google Play.</p>
    <a class="art" onClick="alert('This will jump to other website!!!')" href="https://www.digitaltrends.com/movies/best-media-streaming-sites-services/ ">Find more</a> 
  </div>